html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #44235e, #465458, #4b5052);
}

.calculator{
    background: white;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

/*Display*/
.calculator-display{
    background: rgb(44, 26, 26);
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px 10px 0 0;
}

.calculator-display h1{
    margin: 0;
    padding: 25px;
    font-size: 45px;
    font-family: 'Lucida Console', sans-serif;
    font-weight: 100;
    overflow-x: auto;
}

/*custom scrollbar*/
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #888;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}

/*buttons*/
.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

button {
    min-height: 50x;
    font-size: 20px;
    font-weight: 100;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background: rgb(82, 80, 91);
}

button:hover{
    filter: brightness(120%);
}

button:active{
    transform: translateY(1px);
}

button:focus{
    outline: none;
}

.operator{
    background: rgb(145, 137, 210);
    color: white;
    font-size: 30px;
}

.clear{
    background: rgb(1, 1, 1);
    color: rgb(249, 7, 7);
}

.clear:hover{
    filter: brightness(90%);
}

.equals-sign {
    grid-column: -2;
    grid-row: 2 / span 4;
    background: rgb(57, 44, 100);
}

/* Media query: large smartphone (vertical) */
@media screen and (max-width: 600px) {
    width: 80%;
}